<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{{subject}}</title>
</head>
<body>
  <h1>Olá, {{name}}!</h1>
  <p>Este é um e-mail de teste enviado via NestJS.</p>
  <p>Espero que funcione corretamente!</p>
</body>
</html>
